<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <form action="/member" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
            <label for="id">id</label>
            <input type="text" id="id" name="id" placeholder="id을입력하세요">
            <label for="pass">password</label>
            <input type="text" id="pass" name="password" placeholder="pass을입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
    <form action="/member/login" method="get">
        <div class="form-group">
            <label for="name">id</label>
            <input type="text" name="id" placeholder="id">
            <label for="id">password</label>
            <input type="text" name="password" placeholder="password">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>