<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<h1 class="logo">
    <a href="/">
        <div style="text-align : center;">
            <img src="/image/logo.png" width="100" height="150" align="middle">
            <figcaption>홈으로</figcaption>
    </a>
</h1>

<div class="container">
    <ul class="recommend-items">
        <li th:each="item : ${list}">
            <a href="#" class="recommend-product-image image-hover"></a>
            <a th:href="'/test-item/buy/' + ${item.id}">
                <h3 class="product-name" th:text="${item.name}"></h3>
            </a>
            <div class="product-price">
                <strong class="discount-rate" th:text="${item.discount}"></strong>
                <strong class="final-price" th:text="${item.price * (100 - item.discount)}"><span>원</span></strong>
                <span class="regular-price" th:text="${item.price}"><span>원</span></span>
            </div>
        </li>
    </ul>
</div> <!-- /container -->
</body>