<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="http://localhost/style.css"/>
    <script src="http://localhost/script/modal.js" defer></script>
    <script src="http://localhost/script/dropdown.js" defer></script>
    <script src="http://localhost/script/main-slide.js" defer></script>
    <script src="http://localhost/script/full-slide.js" defer></script>
    <script src="http://localhost/script/half-slide.js" defer></script>
    <script src="http://localhost/script/md-category.js" defer></script>
    <script src="http://localhost/script/quickmenu.js" defer></script>
    <script src="http://localhost/script/timer.js" defer></script>


</head>
<body>
<div class="container">

    <!-- modal -->
    <section class="promotion-modal">
        <div class="container">
            <div class="promotion-link">
                <a href="#">
                    지금 가입하고 인기상품
                    <strong>&nbsp;100원</strong>
                    에 받아가세요!
                    <button type="button" class="promotion-arrow"></button>
                    <button type="button" class="promotion-close"></button>
                </a>
            </div>
        </div>
    </section>

    <!-- header -->
    <header class="header">
        <div class="header-contents">
            <div class="delivery-image">
                <img src="./assets/delivery.webp" alt=""/>
            </div>
            <ul class="customers-items">
                <li th:if="${name == null}" class="sign-up-item">
                    <a href="./join.html">회원가입</a>
                </li>
                <li th:if="${name == null}" class="sign-in-item">
                    <a href="./login.html">로그인</a>
                </li>
                <li th:if="${name != null}" class="sign-up-item">
                    <a><span th:text="${name}"> </span> 님 안녕하세요.</a>
                </li>
                <li class="service-center-item">
                    <a href="#">고객센터</a>
                    <button type="button" class="service-center-icon"></button>
                    <ul class="service-center-detail">
                        <li>
                            <a href="#">공지사항</a>
                        </li>
                        <li>
                            <a href="#">자주하는 질문</a>
                        </li>
                        <li>
                            <a href="#">1:1 문의</a>
                        </li>
                        <li>
                            <a href="#">상품 제안</a>
                        </li>
                        <li>
                            <a href="#">에코포장 피드백</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="logo-image">
            <a href="http://localhost"><img src="http://localhost/assets/메인로고.webp" alt="Market Kurly"/></a>
        </div>

        <nav class="navbar">
            <button type="button" class="navbar-close">
                <i class="fas fa-times"></i>
            </button>

            <ul class="menu">
                <li class="all-category">
                    <a href="#">
                        <button type="button" class="menu-button"></button>
                        전체 카테고리
                    </a>

                    <ul class="all-category-item">
                        <li>
                            <a class="vegetable">채소</a>
                            <ul class="sub-category-menu sub-vegetable">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">고구마·감자·당근</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">시금치·쌈채소·나물</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">브로콜리·파프리카·양배추</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">양파·대파·마늘·배추</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">오이·호박·고추</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">냉동·이색·간편채소</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">콩나물·버섯</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="fruit"> 과일·견과·쌀 </a>
                            <ul class="sub-category-menu sub-fruit">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">제철과일</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">국산과일</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">수입과일</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">간편과일</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">냉동·건과일</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">견과류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">쌀·잡곡</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="fish"> 수산·해산·건어물 </a>
                            <ul class="sub-category-menu sub-fish">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">제철수산</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">생선류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">굴비·반건류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">오징어·낙지·문어</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">새우·게·랍스터</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">해산물·조개류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">수산가공품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">김·미역·해조류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">건어물·다시팩</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="meat"> 정육·계란 </a>
                            <ul class="sub-category-menu sub-meat">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">국내산 소고기</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">수입산 소고기</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">돼지고기</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">계란류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">닭·오리고기</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">양념육·돈가스</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">양고기</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="soup"> 국·반찬·메인요리 </a>
                            <ul class="sub-category-menu sub-soup">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">국·탕·찌개</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">밀키트·메인요리</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">밑반찬</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">김치·젓갈·장류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">두부·어묵·부침개</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">베이컨·햄·통조림</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="salad"> 샐러드·간편식 </a>
                            <ul class="sub-category-menu sub-salad">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">샐러드·닭가슴살</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">도시락·밥류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">파스타·면류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">떡볶이·튀김·순대</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">피자·핫도그·만두</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">폭립·떡갈비·안주</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">죽·스프·카레</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">선식·시리얼</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="sauce"> 면·양념·오일 </a>
                            <ul class="sub-category-menu sub-sauce">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">파스타·면류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">식초·소스·드레싱</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">양념·액젓·장류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">식용유·참기름·오일</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">소금·설탕·향신료</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">밀가루·가루·믹스</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="drink"> 생수·음료·우유·커피 </a>
                            <ul class="sub-category-menu sub-drink">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">생수·탄산수</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">음료·주스</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">우유·두유·요거트</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">커피</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">차</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="snack"> 간식·과자·떡 </a>
                            <ul class="sub-category-menu sub-snack">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">과자·스낵·쿠키</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">초콜릿·젤리·캔디</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">떡·한과</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">아이스크림</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="deli"> 베이커리·치즈·델리 </a>
                            <ul class="sub-category-menu sub-deli">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">식빵·빵류</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">잼·버터·스프레드</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">케이크·파이·디저트</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">치즈</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">델리</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">올리브·피클</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="health"> 건강식품 </a>
                            <ul class="sub-category-menu sub-health">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">영양제</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">유산균</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">홍삼·인삼·꿀</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">건강즙·건강음료</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">건강분말·건강환</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">다이어트·이너뷰티</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">유아동</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="living"> 생활용품·리빙 </a>
                            <ul class="sub-category-menu sub-living">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">휴지·티슈</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">여성·위생용품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">세제·청소용품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">화훼·인테리어소품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">의약외품·마스크</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">생활잡화·문구</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="beauty"> 뷰티·바디케어 </a>
                            <ul class="sub-category-menu sub-beauty">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">스킨케어</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">구강·면도</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">바디·제모</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">헤어케어</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">미용기기·소품</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="kitchen"> 주방용품 </a>
                            <ul class="sub-category-menu sub-kitchen">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">주방소모품·잡화</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">주방·조리도구</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">냄비·팬·솥</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">보관용기·텀블러</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">식기·테이블웨어</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">컵·잔·커피도구</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="appliance"> 가전제품 </a>
                            <ul class="sub-category-menu sub-appliance">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">주방가전</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">생활가전</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">계절가전</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="kids"> 베이비·키즈 </a>
                            <ul class="sub-category-menu sub-kids">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">분유·간편 이유식</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">이유식 재료</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">간식·음식·음료</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">건강식품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">이유·수유용품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">기저귀·물티슈</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">세제·위생용품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">스킨·구강케어</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">완구·잡화류</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="pet"> 반려동물 </a>
                            <ul class="sub-category-menu sub-pet">
                                <li>
                                    <a href="#">
                                        <span class="sub-title">강아지 간식</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">강아지 주식</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">고양이 간식</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">고양이 주식</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">반려동물 용품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">배변·위생</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-title">소용량·샘플</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="recommend">컬리의 추천</a>
                            <ul class="sub-category-menu sub-recommend">
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/diet.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">식단관리</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/breakfast.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">간편한 아침식사</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/best.png" alt=""/>
                                        </div>
                                        <span class="sub-title">재구매BEST</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/3000.png" alt=""/>
                                        </div>
                                        <span class="sub-title">3천원의 행복</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/mart.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">컬리마트</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/single.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">1인가구</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/easy.png" alt=""/>
                                        </div>
                                        <span class="sub-title">뚝딱! 간편식</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/bakery.png" alt=""/>
                                        </div>
                                        <span class="sub-title">베이커리 맛집</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/sidedish.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">반찬가게</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/cytogenic.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">키토제닉</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/vegan.png" alt=""/>
                                        </div>
                                        <span class="sub-title">비건</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/offline.png" alt=""/>
                                        </div>
                                        <span class="sub-title">오프라인 맛집</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/kurly.png" alt=""/>
                                        </div>
                                        <span class="sub-title">컬리가 만든 상품</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/only.png" alt=""/>
                                        </div>
                                        <span class="sub-title">Kurly Only</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/kf365.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">KF365</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sub-recommend-image">
                                            <img src="./assets/menuimg/1pt.jpg" alt=""/>
                                        </div>
                                        <span class="sub-title">1% Table</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="new-product-category">
                    <a href="#">신상품</a>
                </li>
                <li class="best-product-category">
                    <a href="#">베스트</a>
                </li>
                <li class="cheap-product-category">
                    <a href="#">알뜰쇼핑</a>
                </li>
                <li class="weekly-product-category">
                    <a href="#">금주혜택</a>
                </li>
            </ul>

            <div class="sub-menu">
                <form action="/test-item/사과" method="get" class="search-box">
                    <input type="text" placeholder="로맨틱 화이트데이 식탁 준비하기"/>
                    <button type="submit" class="button-search"></button>
                </form>
                <button type="button" class="button-coords"></button>
                <button type="button" class="button-cart"></button>
            </div>
        </nav>
    </header>

    <div class="mobile-menu">
        <button type="button" class="button-user" aria-label="마이페이지">
            <i class="far fa-user icon-user"></i>
        </button>

        <button type="button" class="button-cart" aria-label="장바구니"></button>
    </div>
    <br><br><br><br>
    <div class="section_login">
        <h3 class="tit_login">마이 페이지</h3>
    </div>
    <br><br><br><br>
    <div th:if="${success != null}">
        <div th:if="${success}">
            <div> 회원 수정 성공</div>
        </div>
        <div th:if="${!success}">
            <div> 회원 수정 실패</div>
        </div>
    </div>
    <div><a href="http://localhost/memberUpdate.html"> <div>회원 수정</div></a></div>
    <div style="margin: 10px;">주문 내역</div>
    <div style="margin: 10px;">배송지 관리</div>
    <div style="margin: 10px;">도움이 필요하신가요?</div>
    <footer>
        <hr class=hr2>
        <img class="fi" src="../image/footer_img.jpg" alt="푸터 이미지">
        <div class="divfp">
            <p class="fp">
                마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.<br>
                마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.<br>
                © KURLY CORP. ALL RIGHTS RESERVED</p>
        </div>
    </footer>
</body>
</html>