@charset "UTF-8";

/* 메인 영역 CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.slide_area {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.slider_container {
	position: absolute;
	width: 100%;
	left: 0;
	padding-left: 0px;
}

.slide {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	overflow: hidden;
}

/* 화살표 */
#prev, #next {
	z-index: 1;
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: 999999;
	display: inline-block;
	height: 5em;
	width: 5em;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#prev {
	margin-left: -880px;
}

#next {
	margin-left: 850px;
}

#prev:hover, #next:hover {
	color: gray;
}

#prev.disabled, #next.disabled {
	display: none;
}

/* index.jsp */
#contents {
	width: 100%;
	height: 2000px;
}

.list_slider {
	margin: 0px auto;
	position: relative;
	width: 90%;
}

.list_slider h3 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
	font-weight: bold;
}

.list_slider h3 .fa {
	margin-left: 8px;
}

.cate_list p {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: gray;
}

.list_slider .prev, .prev2, .prev3 {
	z-index: 1;
	position: absolute;
	color: #cecece;
	top: 43%;
	left: 260px;
	border-radius: 50%;
	box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}

.list_slider .next, .next2, .next3 {
	z-index: 1;
	position: absolute;
	color: #cecece;
	top: 43%;
	right: 260px;
	border-radius: 50%;
	box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}

.list_slider .next:hover, .next2:hover, .next3:hover, .prev:hover,
	.prev2:hover, .prev3:hover {
	color: purple;
	border-radius: 50%;
	box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}

.list_slider .item_wrap, .item_wrap2, .item_wrap3 {
	margin: 0px auto;
	overflow: hidden;
	width: 65%;
	height: 500px;
	padding: 10px 0px 10px 0px;
}

.item {
	height: 500px;
	padding: 10px;
	display: inline-block;
	box-sizing: border-box;
}

.item .txt_box {
	text-align: left;
	margin-top: 10px;
	color: black;
}

.item .txt_box h4 {
	font-size: 15px;
	padding-bottom: 5px;
}

.item .txt_box p {
	font-weight: bold;
}

.item .img_box img {
	width: 100%;
	height: 350px;
}